<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
<div class="topnav">
    <div class="user-container">
        <form action="/user/login" style="display: inline;">
            <input type="text" placeholder="Username" name="username">
            <input type="text" placeholder="Password" name="password">
            <button type="submit">Login</button>
        </form>
        <form action="/user/register" style="display: inline;">
            <button type="submit">Register</button>
        </form>
    </div>
</div>

<div class="body">
    <h2>테스트</h2>
</div>

</body>
</body>
</html>