<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.world.trade.commerce.infrastructure.mybatis.ProductCategoryMapper">

    <insert id="batchInsert" parameterType="list">
        INSERT INTO `PRODUCT_CATEGORY` (`PRODUCT_ID`, `CATEGORY_ID`)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.productId}, #{ item.categoryId})
        </foreach>
    </insert>

</mapper>
