<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.world.trade.commerce.infrastructure.mybatis.ProductMapper">

    <insert id="insert" parameterType="team.world.trade.commerce.infrastructure.mybatis.ProductMapper"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `PRODUCT` (`PRODUCT_ID`, `NAME`, `PRICE`, `DETAIL`)
        VALUES (#{id},
                #{name},
                #{price},
                #{detail})
    </insert>

    <select id="findById" parameterType="Long" resultType="team.world.trade.commerce.domain.Product">
        SELECT ID,
               NAME,
               PRICE,
               DETAIL
        FROM PRODUCT
        WHERE ID = #{id}
    </select>


    <select id="findAll" resultType="list">
        SELECT PRODUCT_ID,
               NAME,
               PRICE,
               DETAIL
        FROM PRODUCT
    </select>

    <select id="findByCategoryId" parameterType="Long" resultType="team.world.trade.commerce.domain.Product">
        SELECT PRODUCT.NAME,
               PRODUCT.PRICE,
               PRODUCT.DETAIL
        FROM PRODUCT
                 JOIN PRODUCT_CATEGORY
                      ON PRODUCT.PRODUCT_ID = PRODUCT_CATEGORY.PRODUCT_ID
                 JOIN CATEGORY
                      ON CATEGORY.CATEGORY_ID = PRODUCT_CATEGORY.CATEGORY_ID
        WHERE CATEGORY.CATEGORY_ID = #{id}
    </select>

</mapper>
