<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="team.world.trade.commerce.domain.ProductRepository">

    <insert id="save" parameterType="team.world.trade.commerce.domain.Product"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `PRODUCT` (`ID`, `NAME`, `PRICE`, `DETAIL`)
        VALUES (#{id},
                #{name},
                #{price},
                #{detail})
    </insert>

    <select id="findById" parameterType="Long" resultType="team.world.trade.commerce.domain.Product">
        SELECT ID,
               NAME ,
               PRICE,
               DETAIL
        FROM PRODUCT
        WHERE ID = #{id}
    </select>



</mapper>
