<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container">
    <form action="/api/auth/signup" name="request" method="post">
        <fieldset>
            <input type="text" name="username" placeholder="username" required autofocus>
            <br/> <br/>
            <input type="text" name="email" placeholder="email" required>
            <br/> <br/>
            <input type="password" name="password" placeholder="Password" required>
            <br/> <br/>
            <input type="password" name="confirmedPassword" placeholder="Confirm Password" required>
            <br/> <br/>
            <input type="submit" name="submit" value="REGISTER">
        </fieldset>
    </form>
</div>
</body>
</html>